@use './scene/login.scss';
@use './scene/lobby.scss';
@use './scene/loading.scss';
@use './scene/game.scss';
@use './scene/account.scss';
@use './scene/info.scss';

body {
	display: block;

	width: 100dvw;
	height: 100dvh;

	margin: 0;

	background: black;

	> lm-game {
		position: absolute;
		top: 50%;
		left: 50%;

		display: block;
		width: 1600px;
		height: 900px;

		transform-origin: center;
		translate: -50% -50%;

		background: url("../../public/assets/background.svg");

		backface-visibility: hidden;

		> *:not(lm-error) {
			display: block;

			width: 100%;
			height: 100%;

			&:not([active]) {
				display: none;
				pointer-events: none;
			}

			&[active] {
				z-index: 9999;
			}
		}

		> lm-loading-scene {
			@include loading.scene;
		}

		> lm-login-scene {
			@include login.scene;
		}

		> lm-register-scene {
			@include login.scene;
		}

		> lm-lobby-scene {
			@include lobby.scene;
		}

		> lm-game-scene {
			@include game.scene;
		}

		> lm-account-scene {
			@include account.scene;
		}

		> lm-info-scene {
			@include info.scene;
		}

		> lm-error {
			position: absolute;
			z-index: 99999999;
			top: 900px;
			left: 16px;

			display: flex !important;
			flex-direction: column;
			gap: 8px;

			padding: 32px;
			border-radius: 16px;

			background: rgba(0, 0, 0, 0.5);
			color: white;

			backdrop-filter: blur(4px);

			transition: translate 0.3s ease, opacity 0.3s ease;

			> p {
				margin: 0;
			}

			> p.title {
				font-size: 2em;
			}

			&:not(.active) {
				opacity: 0;
			}

			&.active {
				translate: 0 calc(-100% - 16px);
			}
		}
	}
}