@mixin scene() {
	& {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;

		padding: 32px;

		#timer {
			z-index: 9999999;

			position: absolute;
			top: 64px;
			left: 64px;

			display: flex;
			justify-content: center;
			align-items: center;

			width: 96px;
			height: 96px;
			border-radius: 16px;

			background: rgba(0, 0, 0, 0.5);
			color: white;

			backdrop-filter: blur(4px);

			> p {
				font-size: 2em;
			}
		}

		#field {
			background-image: url("/assets/water.svg");
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;

			height: 600px;
			padding: 0 96px;

			#lemmings {
				position: relative;
				width: 100%;
				height: 80px;

				margin-top: 30px;

				> lm-lemming {
					position: absolute;
					display: block;
					width: 192px;
					height: 100px;

					transition: translate 0.3s ease;

					background-position: center;
					background-repeat: no-repeat;
					background-size: contain;

					&[color="red"] {
						filter: drop-shadow(1px 0px 0px rgb(255, 128, 128)) drop-shadow(-1px 0px 0px rgb(255, 128, 128)) drop-shadow(0px 1px 0px rgb(255, 128, 128)) drop-shadow(0px -1px 0px rgb(255, 128, 128)) drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
						background-image: url("/assets/lemming-red.svg");
					}

					&[color="yellow"] {
						filter: drop-shadow(1px 0px 0px rgb(255, 255, 128)) drop-shadow(-1px 0px 0px rgb(255, 255, 128)) drop-shadow(0px 1px 0px rgb(255, 255, 128)) drop-shadow(0px -1px 0px rgb(255, 255, 128)) drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
						background-image: url("/assets/lemming-yellow.svg");
					}

					&[color="green"] {
						filter: drop-shadow(1px 0px 0px rgb(128, 255, 128)) drop-shadow(-1px 0px 0px rgb(128, 255, 128)) drop-shadow(0px 1px 0px rgb(128, 255, 128)) drop-shadow(0px -1px 0px rgb(128, 255, 128)) drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
						background-image: url("/assets/lemming-green.svg");
					}

					&[color="blue"] {
						filter: drop-shadow(1px 0px 0px rgb(128, 128, 255)) drop-shadow(-1px 0px 0px rgb(128, 128, 255)) drop-shadow(0px 1px 0px rgb(128, 128, 255)) drop-shadow(0px -1px 0px rgb(128, 128, 255)) drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
						background-image: url("/assets/lemming-blue.svg");
					}
					
					&[color="purple"] {
						filter: drop-shadow(1px 0px 0px rgb(255, 128, 255)) drop-shadow(-1px 0px 0px rgb(255, 128, 255)) drop-shadow(0px 1px 0px rgb(255, 128, 255)) drop-shadow(0px -1px 0px rgb(255, 128, 255)) drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
						background-image: url("/assets/lemming-purple.svg");
					}

					&[color="white"] {
						filter: drop-shadow(1px 0px 0px rgb(255, 255, 255)) drop-shadow(-1px 0px 0px rgb(255, 255, 255)) drop-shadow(0px 1px 0px rgb(255, 255, 255)) drop-shadow(0px -1px 0px rgb(255, 255, 255)) drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
						background-image: url("/assets/lemming-white.svg");
					}

					&[pos="1"] {
						z-index: 101;
					}

					&[pos="2"] {
						z-index: 102;
					}

					&[pos="3"] {
						z-index: 103;
					}

					&[pos="4"] {
						z-index: 104;
					}

					&[pos="5"] {
						z-index: 105;
					}

					&[pos="6"] {
						z-index: 106;
					}
				}
			}

			#tiles {
				display: flex;
				gap: 32px;
				width: fit-content;

				width: 100%;
				height: 192px;

				> li {
					width: 192px;
					height: 192px;

					background-position: center;
					background-repeat: no-repeat;
					background-size: contain;

					&[data-type="hole"] {
						background-image: url("/assets/tile-hole.svg");
					}

					&[data-type="ground"] {
						background-image: url("/assets/tile-land.svg");
					}

					&[data-type="hill"] {
						background-image: url("/assets/tile-hill.svg");
					}

					&[data-type="water"] {
						background-image: url("/assets/tile-water.svg");
					}

					transition: translate 2s ease, scale 2s ease, opacity 2s ease;

					&.crashing {
						translate: 0 200px;
						scale: 0.01;
						opacity: 0;
					}

					&.crashed {
						display: none;
					}
				}
			}
		}

		#hand {
			position: relative;

			#menu-container {
				z-index: 999;

				position: absolute;
				top: 50%;
				left: 50%;
				translate: -50% -720px;
				
				width: 1200px;
				height: 800px;

				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 16px;

				padding: 32px;
				padding-left: 460px;

				border-radius: 16px;

				background: rgba(0, 0, 0, 0.6);
				color: white;

				backdrop-filter: blur(8px);

				&:not(.active) {
					display: none;
				}

				> div {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;

					gap: 16px;

					padding: 16px;

					&:not(.active) {
						display: none;
					}

					> p {
						font-size: 2em;
						margin: 0;
					}

					> fieldset {
						display: flex;
						justify-content: center;
						gap: 16px;

						border: none;
						padding: 0;
						margin: 0;

						> label {
							display: block;
							width: 96px;
							height: 96px;

							background-position: center;
							background-size: contain;
							background-repeat: no-repeat;

							cursor: pointer;

							> span {
								display: none;
							}

							&:not(.active) {
								display: none;
							}

							&:not(:has(input:checked)) {
								opacity: 0.75;
							}

							&:has(input:checked) {
								filter: drop-shadow(1px 0px 0px rgb(255, 255, 255)) drop-shadow(-1px 0px 0px rgb(255, 255, 255)) drop-shadow(0px 1px 0px rgb(255, 255, 255)) drop-shadow(0px -1px 0px rgb(255, 255, 255)) drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
							}

							&:has(input[name='lemming-1']),
							&:has(input[name='lemming-2']) {
								&:has(input[value='red']) {
									background-image: url('/assets/lemming-red.svg');
								}

								&:has(input[value='yellow']) {
									background-image: url('/assets/lemming-yellow.svg');
								}

								&:has(input[value='green']) {
									background-image: url('/assets/lemming-green.svg');
								}

								&:has(input[value='blue']) {
									background-image: url('/assets/lemming-blue.svg');
								}

								&:has(input[value='purple']) {
									background-image: url('/assets/lemming-purple.svg');
								}

								&:has(input[value='white']) {
									background-image: url('/assets/lemming-white.svg');
								}
							}

							&:has(input[name='tile']) {
								&:has(input[data-type='hole']) {
									background-image: url('/assets/tile-hole.svg');
								}

								&:has(input[data-type='land']) {
									background-image: url('/assets/tile-land.svg');
								}

								&:has(input[data-type='hill']) {
									background-image: url('/assets/tile-hill.svg');
								}

								&:has(input[data-type='water']) {
									background-image: url('/assets/tile-water.svg');
								}
							}

							&:has(input[name='direction']) {
								&:has(input[value='left']) {
									background-image: url('/assets/arrow-left.svg');
								}

								&:has(input[value='right']) {
									background-image: url('/assets/arrow-right.svg');
								}
							}

							input[type='radio'] {
								display: none;
							}
						}
					}
				}
			}

			#deck {
				display: flex;
				gap: 32px;

				width: calc(150px * 3 + 32px * 2);
				height: 200px;

				> li {
					> lm-card {
						position: relative;
						
						z-index: 50;

						display: block;

						height: 100%;
						aspect-ratio: 3 / 4;

						transition: translate 0.3s ease, scale 0.3s ease;

						&:not(.active) {
							cursor: pointer;
						}

						&:hover {
							z-index: 51;
							scale: 1.75;
							translate: 0 -75px;
						}

						&.active {
							z-index: 10001;
							scale: 2.5;

							&[n='0'] {
								translate: -150px -320px;
							}

							&[n='1'] {
								translate: -332px -320px;
							}

							&[n='2'] {
								translate: -514px -320px;
							}
						}
					}
				}
			}

			#player-list {
				position: absolute;
				left: -478px;
				bottom: 0px;
				width: 400px;

				padding: 16px 32px;

				border-radius: 16px;

				background: rgba(0, 0, 0, 0.5);
				backdrop-filter: blur(4px);

				display: flex;
				flex-direction: column;
				gap: 4px;

				> p {
					color: white;
					font-size: 1.5em;
					margin: 0;

					&[data-current='true'] {
						font-weight: 700;

						&::after {
							display: inline-block;
							margin-left: 1em;
							
							content: '(ходит)';
						}
					}
				}
			}

			#turn-indicator {
				position: absolute;
				right: -478px;
				bottom: 0px;
				width: 400px;

				display: flex;
				flex-direction: column;
				gap: 4px;
				align-items: center;

				padding: 32px;
				border-radius: 16px;
				background: rgba(0, 0, 0, 0.5);
				backdrop-filter: blur(4px);

				> p {
					margin-top: 0;
					color: white;
					text-align: center;
					font-size: 1.5em;
				}
			}
		}

		#winner {
			&:not(.active) {
				display: none;
			}

			z-index: 999999;

			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			width: 1200px;
			height: 800px;

			position: absolute;
			top: 50%;
			left: 50%;
			translate: -50% -50%;

			padding: 32px;
			border-radius: 16px;
			background: rgba(0, 0, 0, 0.8);
			backdrop-filter: blur(8px);

			> h2 {
				font-size: 2em;
				margin-bottom: 64px;
			}

			> p {
				color: white;
			}

			#winner-name {
				font-size: 4em;
				margin-top: 0;
				margin-bottom: 64px;
			}
		}
	}
}