@mixin scene() {
	& {
		display: flex;
		align-items: center;
		justify-content: center;

		> div {
			position: relative;

			width: calc(100% - 128px);
			height: 100%;

			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 48px;

			padding: 64px;
			background: rgba(8, 8, 8, 0.123);
			border-radius: 32px;

			backdrop-filter: blur(8px);

			color: white;

			> button.lobby-button {
				position: absolute;
				top: 64px;
				left: 64px;
			}

			> div {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				gap: 96px;

				> div {
					> img,
					> div {
						margin-top: 32px;
					}

					> img.right {
						float: right;
					}

					> img.mirror {
						scale: -1 1;
					}

					> div.flex {
						display: flex;
						gap: 8px;
						align-items: center;
						width: 100%;

						> img {
							width: 15%;
						}
					}
				}
			}
		}
	}
}